.about {
  display: flex;
  justify-content: center;
  padding: 6em 0;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .about_items {
      display: flex;
      background-color: $darker_FBFBFB;
      justify-content: center;
      position: relative;
      padding: 1em 0;
      .about_item_imgs {
        display: flex;

        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 2em;
        img {
          margin-left: 2em;
          &:nth-of-type(2) {
            margin-top: 2em;
          }
        }
        .about_item_imgs_container {
          display: flex;
          flex-direction: column;
        }
      }
      .about_item_text {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        justify-content: space-evenly;
        width: 40%;
        margin-left: 12vw;
        h1 {
          color: #BDBDBD;

          font-size: 64px;
        }
        .about_item_text_p {
          width: 90%;
          font-size: 2.3vh;
          line-height: 25px;
        }
        .about_item_text_btn {
          width: 10em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1em 0 1em 0;
          background-color: #FFFFFF;
          .about_item_text_btn_p {
            text-transform: uppercase;
            font-size: 12px;
            margin-right: 1em;
            font-weight: 400;
            line-height: 12px;
          }
        }
      }
    }
  }
}