.contacts_main{
  display: flex;
  justify-content: center;
  padding: 5em 0;
  position: relative;

  .container{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @include phone{
      justify-content: center;
    }
    @include tablet{
      justify-content: center;
    }
    .contacts_main_items{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      @include phone{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include tablet{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .contacts_main_items_text {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 8vh;
          color: #BDBDBD;
          font-weight: 300;
          @include phone{
            text-align:center;
            font-size: 6vh;
          }
          @include tablet{
            text-align: center;
          }
          &:nth-of-type(2) {
            color: #333333;
            font-weight: 700;
            margin-bottom: 4vh;
          }

        }

        p {
          font-size: 18px;
          color: #333333;
          margin-bottom: 4vh;
          @include phone{
            text-align: center;
          }
          @include tablet{
            text-align: center;
            margin-bottom: 2vh;
            font-size: 2vh;
          }
          &:first-of-type {
            margin: 0;
            font-weight: 700;
          }

          &:nth-of-type(2) {
            font-weight: 300;
            font-size: 16px;
            @include tablet{
              font-size: 1.8vh;
            }
          }

          &:nth-of-type(3) {
            font-weight: 700;
          }

          &:nth-of-type(4) {
            font-weight: 300;
            font-size: 16px;
            @include tablet{
              font-size: 1.8vh;
            }
          }
        }

        .contacts_main_item_btn {
          position: relative;
          background-color: #333333;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 2em;
          width: 15em;
          @include phone{
            padding: 1em;
            width: 7.5em;
            align-self: center;
          }
          @include tablet{
            align-self: center;
            padding: 2em;
            width: 20em;
          }
          p {
            text-transform: uppercase;
            font-weight: 300;
            color: #FFFFFF;
            @include phone{
              font-size: 2vh;
            }
            @include tablet{
              font-size: 2.7vh;
            }
          }

        }
      }
    }
    img{
      border: 2px solid #000000;
      position: relative;
      width: 40vw;
      height: auto;
      @include phone{
        width: 70vw;
        margin-top:6vh;
      }
      @include tablet{
        width: 50vw;
        margin-top:4vh;
      }
    }
  }

}