footer{
  background-color: #2C2C2C;
  color: #FFFFFF;
  display: flex;
  justify-content: center;

  .container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
    .footer_items{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 6vh 0;
      img{
        width: auto;
        height: 10vh;
      }
     .footer_item{
       display: flex;
       flex-direction: column;
       justify-content:space-between;
       position: relative;
       width: 25%;
       &:last-of-type{
         justify-content: normal;
       }
       &::after{
         position: absolute;
         content: "";
         display: inline-block;
         width: 3px;
         height:15vh;
         background-color: $lighten_2C2C2C;
         left: 80%;
         top: 0;
       }
       &::before{
         position: absolute;
         content: "";
         display: inline-block;
         width: 3px;
         height:15vh;
         background-color: $lighten_2C2C2C;
         left: -10%;
         top: 0;
       }
        &:first-of-type::after{
          left: 50%;
        }
       &:nth-of-type(3)::after{
         left: 50%;
       }
       h1{
         font-weight: 700;
          font-size: 1.8vh;
       }
       p{
         font-size: 1.7vh;
         margin-top:2vh ;
          .link{
            text-decoration: none;
            color: #FFFFFF;
          }

       }
       .footer_item_container{
         display: flex;
         align-items: center;

         .footer_item_container_icon{
           margin:2vh 2vh 0 0  ;
         }
         p{

         }
       }
     }

    }
    .footer_copy{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4vh 0;
      width: 100%;
      border-top:solid $lighten_2C2C2C 1px ;
      .footer_copy_p {
        color: $lighten_2C2C2C;
        font-size: 1.5vh;
      }
    }
  }
}