header{
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  z-index: 1;
  @include phone{
     position: sticky;
     top: 0;
  }
  @include tablet{
    position: sticky;
    top: 0;
    padding: 4vh 0;
  }
  .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @include phone{


    }
    .header_menu_hamburger {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .header_icon {
        font-size: 2rem;
        display: none;
        @include phone{
          display: flex;
        }
        @include tablet{
          display: flex;
          font-size: 3rem;
        }
      }

      img {
        @include tablet{
          width: 10vw;
        }
      }


    }
    .header_menu.open {
      overflow: hidden;
      width: 100%;
      z-index: 2;
    }
    .header_menu{
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: row;

      @include phone{
        padding: 0;
        position: fixed;
        width: 0;
        top: 67px;
        right: 0;
        overflow: hidden;
        transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        flex-direction: column;
        background-color: #FFFFFF;
        align-items: flex-start;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      @include tablet{
        padding: 0;
        position: fixed;
        width: 0;
        top: 13vw;
        right: 0;
        overflow: hidden;
        transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        flex-direction: column;
        background-color: #FFFFFF;
        align-items: flex-start;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .header_menu_item{
        font-size:1.5vh;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
        margin: 0 2vw;
        &:last-of-type{
          @include phone{
            padding-bottom: 1em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
          @include tablet{
            padding-bottom: 1em;

          }
        }
        @include phone{
          font-size: 3vh;
          padding: 1em 0 1em 2em;

        }
        @include tablet{
          font-size: 3vh;
          padding: 1em 0 1em 2em;
        }
        &:first-of-type::before{
          position: absolute;
          content: "";
          display: inline-block;
          width: 70px;
          height: 1px;
          background-color: black;
          top: -5px;
          left: -15px;
          @include phone{
            display: none;
          }
          @include tablet{
            display: none;
          }
        }
        &:first-of-type::after{
          bottom: -5px;
          left: -15px;
          position: absolute;
          content: "";
          display: inline-block;
          width: 70px;
          height: 1px;
          background-color: black;
          @include phone{
            display: none;
          }
          @include tablet{
            display: none;
          }

        }
        .link{
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
}