header{
  display: flex;
  justify-content: center;
  padding: 2vh 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; top: 0;
  background-color: #FFFFFF;
  z-index: 1;
  .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    img{
    }
    .header_menu{
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: row;
      .header_menu_item{


        font-size:1.5vh;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
        margin: 0 2vw;
        &:first-of-type::before{
          position: absolute;
          content: "";
          display: inline-block;
          width: 70px;
          height: 1px;
          background-color: black;
          top: -5px;
          left: -15px;
        }
        &:first-of-type::after{
          bottom: -5px;
          left: -15px;
          position: absolute;
          content: "";
          display: inline-block;
          width: 70px;
          height: 1px;
          background-color: black;
        }
        .link{
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
}