.mission {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;

    h1 {
      color: #BDBDBD;
      font-size: 64px;
    }

    .mission_items {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .mission_item {
        display: flex;
        align-items: center;
        &:first-of-type{
          margin-right: 10vw;
        }
        span {
          color: $darker_BDBDBD;
          font-weight: 700;
          font-size: 256px;
          margin-right: 1vw ;
        }

        p {
          width: 50%;
          font-size: 24px;
        }
      }
    }
  }
}