.photo_gallery_main{
  display: flex;
  justify-content: center;
  padding: 1em 0;
  .container{
    display: flex;
    flex-direction:column ;
    width: 100%;
    @include phone{
      display: flex;
      justify-content: center;
    }

    h1{
      font-size: 8vh;
      color: #BDBDBD;
      font-weight: 300;
      @include phone{
        text-align: center;
        font-size: 6vh;
      }
      @include tablet{
        text-align: center;
      }
      &:nth-of-type(2){
        color: #333333;
        font-weight: 700;
        margin-bottom: 4vh;
      }
    }
    .photo_gallery_main_items{
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      margin-bottom: 4vh;
      padding: 2vh 0 0 0 ;
      border-top: $lighten_BDBDBD solid 1px;
      @include phone{
        justify-content: center;
      }
      @include tablet{
        justify-content: center;
      }
      .photo_gallery_main_item{
        height: 29vh;
        @include phone{
          height:auto;
          width: 40%;
        }
        @include tablet{
          height: auto;
          width: 25%;
        }
      }

    }
    .photos_gallery_main_counter{
      display: flex;
      align-items: center;
      font-size: 1.6vh;
      color: #BDBDBD;
      width: auto;
      margin-bottom: 4vh;
      @include phone{
        justify-content: center;
      }
      @include tablet{
        justify-content: center;
      }
      .photos_gallery_main_counter_numbers{
        display: flex;
        flex-direction: column;
        margin-right: 4em;
        position: relative;
        &::before{
          top: 50%;
          left: 200%;
          position: absolute;
          content: "";
          display: inline-block;
          width: 2vw;
          height: 2px;
          background-color:#BDBDBD;
          transform: rotate(-45deg);
          @include phone{
            width: 10vw;
          }
          @include tablet{
            width: 5vw;
          }
        }
      }
      .photos_gallery_main_arrows{
        .photos_gallery_main_arrow{

          &:first-of-type{
            margin-left: 2em;
            margin-right: 1em;
          }
        }

      }

    }
  }
}