.projects_main{
  display: flex;
  justify-content: center;
  padding: 1em 0;
  .container{
    display: flex;
    flex-direction:column ;
    width: 100%;
    h1{
      font-size: 8vh;
      color: #BDBDBD;
      font-weight: 300;
      @include phone{
        text-align: center;
      }
      &:nth-of-type(2){
        color: #333333;
        font-weight: 700;
        margin-bottom: 4vh;
      }

    }
    .projects_main_items{
      display: flex;
      flex-direction: column;

      .projects_main_item{
        display: flex;
        background-color: $darker_FBFBFB;
        margin: 2em 0;
        @include phone{
          display: flex;
          flex-direction: column;
        }
        img{

        }
        .projects_main_item_text{
          display: flex;
          flex-direction: column;
          h2{
            font-size: 40px;
            font-weight: 300;
            color: #BDBDBD;
            margin: 4vh 0 8vh 4vh;
            @include phone{
              margin-bottom: 0;
            }
          }
          .projects_main_item_text_p{
            font-weight: 300;
            line-height: 25px;
            font-size: 2vh;
            width: 65%;
            margin: 4vh 0 0 4vh;

          }
          .projects_main_item_text_btn{
            width: 10em;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0 1em 0;
            background-color: #FFFFFF;
            margin: 4vh 0 4vh 4vh;
            .projects_main_item_text_btn_p{
              text-transform: uppercase;
              font-size: 12px;
              margin-right: 1em;
              font-weight: 400;
              line-height: 12px;
            }
            img{

            }
          }
        }
      }
    }
    .projects_main_counter{
      display: flex;
      align-items: center;
      font-size: 1.6vh;
      color: #BDBDBD;
      width: auto;
      margin-bottom: 4vh;
      @include phone{
        justify-content: center;
      }
      .projects_main_counter_numbers{
        display: flex;
        color: #333333;
        flex-direction: column;
        margin-right: 4em;
        position: relative;
        &::before{
          top: 50%;
          left: 200%;
          position: absolute;
          content: "";
          display: inline-block;
          width: 2vw;
          height: 2px;
          background-color:#BDBDBD;
          transform: rotate(-45deg);
          @include phone{
            width: 10vw;
          }
        }

      }
      .projects_main_arrows{
        .projects_main_arrow{
          &:first-of-type{
            margin-left: 2em;
            margin-right: 1em;
          }
        }
      }
    }
  }
}