.view{
  display: flex;
  justify-content: center;
  padding: 3em 0;
  .container {
    display: flex;
    align-items: center;
    flex-direction:column ;
    width: 100%;
    .view_items {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      @include phone{
        flex-direction: column-reverse;

      }
      .view_item_text {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include phone{
          text-align: center;
          height: auto;
          margin-top: 2vh;
        }
        h1 {
          font-size: 8vh;
          color: #BDBDBD;
          text-transform: uppercase;
          font-weight: 300;
        }

        h2 {
          font-size: 8vh;
          font-weight: 700;
        }

        .view_item_text_arrow_container {
          width: 100%;
          @include phone {
            display: flex;
            justify-content: center;
            margin-top: 2vh;
          }
          .view_item_text_arrow {
            position: relative;

            &:first-of-type {
              margin-right: 2em;
            }
            &:nth-of-type(2)::after {
              bottom: -5px;
              left: -15px;
              position: absolute;
              content: "";
              display: inline-block;
              width: 70px;
              height: 1px;
              background-color: black;
            }
          }

        }
        .view_item_text_numbers{
          display: flex;
          font-size: 24px;
          color: #BDBDBD;
          width: 100%;
          @include phone{
            display: flex;
            justify-content: center;
            margin-top: 2vh;
          }
          .view_item_text_numbers_counter{
            display: flex;
            flex-direction: column;
            margin-right: 4em;
            position: relative;
            &::before{
              top: 15px;
              left: 40px;
              position: absolute;
              content: "";
              display: inline-block;
              width: 50px;
              height: 2px;
              background-color:#BDBDBD;
              transform: rotate(-45deg);
            }
          }
        }
      }
      .view_item_img {
        height: 70vh;
        width: 40%;
        @include phone{
          height: 40vh;
          width: 100%;
        }
      }
    }
    .view_btn {
      display: flex;
      align-items: center;
      margin-top: 4vh;
      border: #BDBDBD solid 1px;
      padding: 1em;
      p{
        text-transform: uppercase;
        font-weight: 400;
      }
      img{
        margin-left: 1vw;
      }
    }
  }
}


.animate{
  animation: ease-in opacity 1s;
}
@keyframes opacity {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }

}