html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1;
}
header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
header .container .header_menu {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .container .header_menu .header_menu_item {
  color: #333333;
  font-size: 1.5vh;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  margin: 0 2vw;
}
header .container .header_menu .header_menu_item:first-of-type::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: black;
  top: -5px;
  left: -15px;
}
header .container .header_menu .header_menu_item:first-of-type::after {
  bottom: -5px;
  left: -15px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: black;
}

.view {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}
.view .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.view .container .view_items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.view .container .view_items .view_item_text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.view .container .view_items .view_item_text h1 {
  font-size: 8vh;
  color: #BDBDBD;
  text-transform: uppercase;
  font-weight: 300;
}
.view .container .view_items .view_item_text h2 {
  font-size: 8vh;
  font-weight: 700;
}
.view .container .view_items .view_item_text .view_item_text_arrow_container {
  width: 100%;
}
.view .container .view_items .view_item_text .view_item_text_arrow_container .view_item_text_arrow {
  position: relative;
}
.view .container .view_items .view_item_text .view_item_text_arrow_container .view_item_text_arrow:first-of-type {
  margin-right: 2em;
}
.view .container .view_items .view_item_text .view_item_text_arrow_container .view_item_text_arrow:nth-of-type(2)::after {
  bottom: -5px;
  left: -15px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: black;
}
.view .container .view_items .view_item_text .view_item_text_numbers {
  display: flex;
  font-size: 24px;
  color: #BDBDBD;
  width: 100%;
}
.view .container .view_items .view_item_text .view_item_text_numbers .view_item_text_numbers_counter {
  display: flex;
  flex-direction: column;
  margin-right: 4em;
  position: relative;
}
.view .container .view_items .view_item_text .view_item_text_numbers .view_item_text_numbers_counter::before {
  top: 15px;
  left: 40px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #BDBDBD;
  transform: rotate(-45deg);
}
.view .container .view_items .view_item_img {
  width: 38%;
}
.view .container .view_btn {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  border: #BDBDBD solid 1px;
  padding: 1em;
}
.view .container .view_btn p {
  text-transform: uppercase;
  font-weight: 400;
}
.view .container .view_btn img {
  margin-left: 1vw;
}

.about {
  display: flex;
  justify-content: center;
  padding: 6em 0;
}
.about .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about .container .about_items {
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
  position: relative;
  padding: 1em 0;
}
.about .container .about_items .about_item_imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 2em;
}
.about .container .about_items .about_item_imgs img {
  margin-left: 2em;
}
.about .container .about_items .about_item_imgs img:nth-of-type(2) {
  margin-top: 2em;
}
.about .container .about_items .about_item_imgs .about_item_imgs_container {
  display: flex;
  flex-direction: column;
}
.about .container .about_items .about_item_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  margin-left: 12vw;
}
.about .container .about_items .about_item_text h1 {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 64px;
}
.about .container .about_items .about_item_text .about_item_text_p {
  width: 90%;
  font-size: 18px;
}
.about .container .about_items .about_item_text .about_item_text_btn {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 2em 2em 2em 3em;
  background-color: #FFFFFF;
}
.about .container .about_items .about_item_text .about_item_text_btn p {
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 1em;
  font-weight: 400;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  max-width: 90%;
}

/*# sourceMappingURL=App.css.map */
